*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

#page1, #page2, #page3, #page4, #page5{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1{
    background-color: #515151;
}

#page2{
    background-color: lightblue;
    overflow-x: hidden;
}

#page3{
    background-color:lightgreen;
}
#page4{
    background-color:lightslategray;
}

#page5{
    background-color:lightpink;
    overflow: hidden;
}

#box1{
    height:100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}

#box3{
    height:100px;
    width: 100px;
    background-color: #fff;
    border-radius: 50%;
}

#page2, #page5 h2{
    font-size: 15vw;
    color:lightcoral;
}

#head{
    font-size: 10vw;
    color:lightcoral;
    overflow: hidden;
}

#box5{
    height: 3rem;
    width:3rem;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation-name: movestraight;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes movestraight {
    0%{
        left:10%
    }
    100%{
        left:85%
    }    
}

h2 span{
    display: inline-block;
    color:rgb(8, 84, 248);
}